.card{
    font-size: 20px;
    background-color: rgb(212, 231, 240);
    margin: 2rem;
    text-align: center;
    width: 30rem;
    height: auto;
    -webkit-backdrop-filter: blur(25px) saturate(10%);
    border-radius: 30px;
    transition: all 0.3s;
    border-radius: 5px;
    font-style: italic; 
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.heading {
    font-size: 40px;
    background-color: rgb(139, 166, 196);
    margin: 2rem auto;
    text-align: center;
    width: 50rem;
    -webkit-backdrop-filter: blur(25px) saturate(10%);
    border-radius: 30px;
    transition: all 0.3s;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.card:hover
{
    transform:scale(1.05)   
}

.cardimg{
    width: 300px;
    height: 200px;
    align-items: center;
}

.learn{
    width: 130px;
    height: 35px;
    transition: all 0.3s;
    font-size: 0.8rem;
    border-radius: 12px;
    background-color:white;
}